package ${package}.mapper;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * @description: ${comments}
 * @author: ${author}
 * @time: ${datetime}
 * @version: ${version}
 **/
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}
